@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Nunito+Sans:wght@700&family=Ubuntu&display=swap');

:root {
    --point-color : yellowgreen;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    min-width: 560px;
    font-size: 62.5%;
    transition: 1s;

}
/* header section starts */
header {
    padding: 4rem;
    width: 100%;
    position: fixed;
    top: 0; right: 0; left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    font-size: 2rem;
    background-color: cornsilk;
}

header img {
    width: 4rem;
    height: 4rem;
}

header .logo {
    margin-left: 25rem;
    font-family: 'Ubuntu', sans-serif;
}

header h1 span {
    color: var(--point-color);
}

header nav {
    overflow-y: hidden;
}

header nav a {
    padding: 1rem;
    color: #444;
    font-size: 2.5rem;
    font-weight: bold;
}

header nav a:hover {
    color: var(--point-color);
}
/* header section ends */

/* home section stats */
.Home {
    margin-top: 20rem;
    /* min-height: 100vh; */
}

.Home .home-container {
    padding-top: 5rem;
    padding: 3rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.Home .home-container .text-box {
    padding: 2rem;
    overflow-y: hidden;
    text-align: center;
}

.Home .home-container .text-box h1 {
    color: #333;
    font-size: 5rem;
}

.Home .home-container .text-box p {
    line-height: 2.2rem;
    padding: 2rem;
    color: #444;
    font-size: 1.5rem;
}

.Home .home-container .text-box a {
    margin-bottom: 20rem;
    padding: .5rem;
    color: #fff;
    font-size: 2rem;
    background-color: var(--point-color);
    border: 1px solid var(--point-color);
    border-radius: 2rem;
}

.Home .home-container .text-box a:hover {
    color: var(--point-color);
    background-color: #fff;
}

.Home .home-container .img-box img {
    width: 55rem;
    height: 55rem;
    border-radius: 50%;
}
/* home section ends */

/* Tour section stats */
.heading {
    text-align: center;
    background-color: cornsilk;
    font-size: 3.5rem;
    color: #222;
    margin: 2rem 8rem;
    padding: 1rem 0;
    margin-top: 8rem;
}

.tour-container {
    margin: 8rem;
}

.tour-container .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tour-container .item {
    text-align: center;
    margin: 2rem;
    border-radius: 3rem;
    background-color:cornsilk;
    padding: 5rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}


.tour-container .item:hover {
    transform: scale(1.01);
}

.tour-container .items .item h3 {
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #444;
}

.tour-container .items .item p {
    padding-top: 1.2rem;
    font-size: 1.2rem;
    color: #555;
}

.tour-container .items .item img {
    border-radius: 3rem;
    width: 60rem;
    height: 60rem;
}
/* Tour section ends */

/* Eating Section Starts */

.Eating-contaienr{
 margin: 8rem;
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.Eating .Eating-contaienr .Eating-titles {
    text-align: center;
}   

.Eating .Eating-contaienr .Eating-titles h1 {
    color: #333;
    font-size: 5rem;
}

.Eating .Eating-contaienr .Eating-titles span {
    color: green;
    font-size: 6rem;
}

.Eating .Eating-contaienr .Eating-titles p {
    color: #444;
    font-size: 2rem;
}

.Eating .hr {
    text-align: center;
    height: 3rem;
    background-color: cornsilk;
    margin: 8rem;
}

.Eating .five-me {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
/* Eating Section ends */

/* footer section starts */
footer {
    background-color:cornsilk ;
}

footer .inform {
    font-weight: bold;
    padding: 3rem;
    text-align: center;
    color: #333;
    font-size: 2rem;
}
/* footer section ends */
















/* media screen  */
@media screen and (max-width: 860px) {

    html {
        font-size: 50%;
    }

    header {
        flex-direction: column;
    }
    header .logo {
        margin-top: 2rem;
        margin-left: 2rem;
    }
    nav {
        margin-top: 2rem;
    }
    .Home {
        margin-top: 23.5rem;
    }

    .Home .home-container .text-box {
        margin-top: 2rem;
    }

    .Home .home-container {
        padding: 2rem;
        flex-direction: column;
    }
    .Home .home-container .img-box {
        margin-top: 2rem;
        text-align: center;
    }

    .tour-container .items .item img {
        width: 30rem;
        height: 30rem;
    }

    .Eating .Eating-contaienr  {
        flex-direction: column;
    }
    

}

